/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content Area */
main {
    padding: 2rem;
    text-align: center;
}

/* History Section Styling */
#history-content {
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#history-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 1.5rem;
}

#history-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0;
    color: #555;
}

#history-content ul {
    padding: 0;
    margin: 1rem 0;
    list-style-type: none;
}

#history-content ul li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding-left: 20px;
    position: relative;
    color: #333;
}

#history-content ul li::before {
    content: "•";
    color: #007BFF;
    font-weight: bold;
    position: absolute;
    left: 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Coming Soon Section Styling */
#coming-soon {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#coming-soon h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

#coming-soon img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
